.profile {
  position: relative;
  background-color: #f3f3f3;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 47%;
  padding-top: 47%;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: box-shadow 0.15s, filter 0.15s;
}

.profile:not(.profile__disabled):hover {
  border-color: #ffffff;
  box-shadow: 0 24px 80px rgba(0, 0, 0, 0.25);
  filter: drop-shadow(0px 24px 80px rgba(0, 0, 0, 0.25));
}

.profile__disabled {
  opacity: 0.5;
}

@media screen and (min-width: 768px) {
  .profile {
    width: 30%;
    padding-top: 30%;
  }
}

.profile__icon {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.profile__icon--correct {
  background-color: rgba(52, 199, 89, 0.6);
  background-image: url("../../images/icon-correct.png");
}

.profile__icon--incorrect {
  background-color: rgba(255, 59, 48, 0.6);
  background-image: url("../../images/icon-incorrect.png");
}
